<h1 class="title">{{document_title}}</h1>
<main>
    <p class="description">This website is designed to query any Marvel character. Please enter the name of the character in the input box, and 20 related Marvel characters will appear. Click the name of each role again to view the specific details of the role.</p>
    <form action="/search" method="post">
        <label class="label" for="keyword">searchTerm</label>
        <input class='input' type="text" name="searchTerm" id="keyword">
        <input class="btn" type="submit" value="submit">
    </form>
</main>